*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    background-color: transparent;
    
    
}
#btn_Registro{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    background-color: transparent;
    
}

.cabecera{
    text-align: center;
    align-content: center;
    padding-top: 10px;
    background-color:rgba(0, 0, 0, 0.61);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top:solid 3px;
    border-bottom:solid 3px;
    border-color: rgb(226, 50, 97);
    width: 100%; 
	left: 0;
	top: 0;
    position: fixed;
}

h1{
    font-size: 30px;
    padding-bottom: 10px;
    margin: auto;
    color: #eee;
}

body{
    min-height: 500px;
    background: linear-gradient(to right,rgba(225,49,160,255),rgba(164,115,230,255));

}

#vertical_navbar {
    
    display:block;
    float:right;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.3) ;
    padding-bottom: 202px;
    margin: 20px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 50, 97);
    border-radius: 10px;
    max-width: 180px;
    
    position: fixed;
    width: 100%; 
	right: 0;
	top: 50px;
    text-align: center;
    max-height: 508px;
    z-index: 1;
}

li {
    
    margin-top: 40px;
    text-align: left;

}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:black;
    font-stretch: wider ;
}

.container{
    text-align: center;
        
}

.col-4{
    background-color: rgba(0, 0, 0, 0.616);
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 50, 97);
    border-radius: 10px;
    height: 508px;
}

.h2-content{
    color: rgb(163, 163, 163);
    font-size: 25px;
}

.h2-menu{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 5px;
    

}

img{

    height: 200px;
}

p{
    font-size: 15x;
    color: rgb(243, 93, 133);
}

#logo_navbar{
    margin-top: 50px;
    zoom: 40%;

}

.h2-menu:hover{
color: rgb(226, 50, 97);

}



#form_registrarse{
    background-color: rgba(102, 91, 91, 0.445);
    border-radius: 10px;
}

.h2-registro{
    color: rgb(255, 255, 255);
    font-size: 15px;
    
}

input {
background-color: rgba(155, 152, 152, 0.363);
margin: 10px;
padding: 5px;
color:rgba(222, 218, 226, 0.945);
border-radius: 5px;
}

#btn_registrar_usuario {
    width: 200px;
    border-radius: 10px;
    background-color: grey;
    margin: 15px;
    padding: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px transparent;
}

.container-registro{
    margin-top: 68px;
    text-align: center;
}

#btn_registrar_usuario:hover {
    background-color: rgb(121, 119, 119);
    }


#btn_registrar_usuario:active {
    width: 200px;
    border-radius: 10px;
    border: solid;
    border-color: rgb(226, 50, 97);
    border-width: 2px;
    background-color: rgb(121, 119, 119);
    margin: 15px;
    padding: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.336);
    height: 50px;
    border-color: black;
    border-top:solid;
    width: 100%; 
    
}

#banner {
    background-image: url("banner.png");
    background-size: 100%;
    height: 10cm;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /*border-bottom:solid 1px;
    border-color:black;*/
}

* {
    max-width: 100%;
}

#footer-tienda {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.336);
    height: 50px;
    border-color: black;
    border-top:solid;
    width: 100%; 
    position: absolute;
    bottom:0;
}




#Contenedor-Store{
    background-color: rgba(0, 0, 0, 0.3) ;
    border-radius: 10px;
    padding:20px;
    margin-top:71px;
    margin-right: 210px;
    margin-left: 30px;
    height: 505px; 
    display: grid;
    grid-template-columns: repeat(2,10px);
     
}

#menu-store{
    
    min-height: 100%;
    background-color:rgb(24, 23, 23);
    min-width: 150px;
    border-radius: 10px;
}

#content-store{
    height: 100%;
    background-color:rgb(24, 23, 23);
    border-radius: 10px;
    margin-left: 150px;
    min-width: 920px;
}

svg {
    color: white;  
    margin-left: 10px; 
}

#svg-icons {
    margin: 10px;
    text-align: center;
}

@media screen and (max-width:450px){
    html {
        min-height: 100%;
        position: relative;
        padding:0%;
        margin:0%;
        
    }
    body {
        margin: 0;
        min-height:100%
    }
    .row {
        margin: 0.5cm;
        min-height:100%;
        
    }
    /*.container-registro{
    
    
    }*/
    #vertical_navbar{
        margin: 0;
        display: none;
    }
    #vertical_navbar{
        margin: 0;
        display: none;
    }
    #contenedor-registro {
        width: 100%;
        margin-left: 0.5cm;
        margin-top: 1.5cm;
        margin-right: 0.5cm;
        height:450px;
        margin-bottom:0; 

    }

    footer{
        margin: 0;
        padding:0;
        position:fixed;
        bottom: 0;
        
        
    }
}
.main-content {
    display: grid;
    margin-top: 75px;
    min-height:500px;
    grid-template-columns: repeat(6,1fr);
    padding-left: 25px;
    grid-template-areas: "container container container container container";
    
}

.store-container{
    display:grid;
    padding:10px 10px;
    background-color:rgba(0, 0, 0, 0.3) ;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 50, 97);
    border-radius: 10px;
    color: white;
    grid-area: container;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    grid-template-areas: "columnas articulos articulos articulos articulos articulos";   
}

.menu_store{
    background-color:rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    grid-area: columnas;
    border-radius: 10px;
    

}

.content_store {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    grid-area:articulos;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ref1 ref2 ref3 ref7"
                         "ref4 ref5 ref6 ref8";
    padding: 25px;
    column-gap:30px ;
    row-gap:20px ;
    padding-left: 50px;
    padding-right: 50px;
}

.refs-1,.refs-2,.refs-3,.refs-4,.refs-5,.refs-6,.refs-7,.refs-8 {
    background-color: rgba(102, 91, 91, 0.466);
    color:whitesmoke;
    border-radius: 10px;
    max-height: 200px;
    padding: 10px 10px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(164,115,230,255);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.refs-1{
    grid-area:ref1;
}
.refs-1 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-1 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-1 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-1 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-2{
    grid-area:ref2;
}
.refs-2 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-2 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-2 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
    text-align: center;
}
.refs-2 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-3{
    grid-area:ref3;
}
.refs-3 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-3 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-3 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-3 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-4{
    grid-area:ref4;
}
.refs-4 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-4 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-4 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-4 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-5{
    grid-area:ref5;
}
.refs-5 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-5 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-5 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-5 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-6{
    grid-area:ref6;
}
.refs-6 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-6 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-6 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-6 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-7{
    grid-area:ref7;
}
.refs-7 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-7 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-7 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-7 h1:hover {
    color: rgb(226, 50, 97);
}
.refs-8{
    grid-area:ref8;
}
.refs-8 img {
    height: 130px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(164,115,230,255);
}
.refs-8 a {
    text-decoration: none;
    margin-top: 10px;
}
.refs-8 h1 {
    font-size: 20px;
    color: rgba(164,115,230,255);
}
.refs-8 h1:hover {
    color: rgb(226, 50, 97);
}
.menu_store p{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.644);
}
.menu_store{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
