*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    background-color: transparent;
    
    
}
#btn_Registro{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    background-color: transparent;
    
}

.cabecera{
    text-align: center;
    align-content: center;
    padding-top: 10px;
    background-color:rgba(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top:solid 3px;
    border-bottom:solid 3px;
    border-color: rgb(226, 50, 97);
    width: 100%; 
	left: 0;
	top: 0;
    position: fixed;
}

h1{
    font-size: 30px;
    padding-bottom: 10px;
    margin: auto;
    color: #eee;
}

body{
    
    background-size: 100%;
    background: linear-gradient(to right,rgba(225,49,160,255),rgba(190,106,223,255));
}


#vertical_navbar {

    margin: 0;
    padding: 0;
}

#vertical_navbar {
    
    display:block;
    float:right;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.3) ;
    padding-bottom: 202px;
    margin: 20px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 50, 97);
    border-radius: 10px;
    max-width: 180px;
    
    position: fixed;
    width: 100%; 
	right: 0;
	top: 50px;
    text-align: center;
}

li {
    
    margin-top: 40px;
    text-align: left;

}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:black;
    font-stretch: wider ;
}

.container{
    text-align: center;
        
}

.col-4{
    background-color: rgba(0, 0, 0, 0.80);
    padding-bottom: 3cm;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 50, 97);
    border-radius: 10px;
}

.h2-content{
    color: rgb(163, 163, 163);
    font-size: 25px;
}

.h2-menu{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 5px;
    

}

img{

    height: 200px;
}

p{
    font-size: 15x;
    color: rgb(243, 93, 133);
}

#logo_navbar{
    margin-top: 50px;
    zoom: 40%;

}

.h2-menu:hover{
color: rgb(226, 50, 97);

}



#form_registrarse{
    background-color: rgba(102, 91, 91, 0.445);
    border-radius: 10px;

    
}

.h2-registro{
    color: rgb(255, 255, 255);
    font-size: 15px;
    
}

input {
background-color: rgba(155, 152, 152, 0.363);
margin: 10px;
padding: 5px;
color:rgba(222, 218, 226, 0.945);
border-radius: 5px;
}

#btn_registrar_usuario {
    width: 200px;
    border-radius: 10px;
    background-color: grey;
    margin: 15px;
    padding: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-registro{
    margin-top: 83px;
    text-align: center;
    padding-bottom: 18px;
}

#btn_registrar_usuario:hover {
    width: 200px;
    border-radius: 10px;
    background-color: rgb(121, 119, 119);
    margin: 15px;
    padding: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#btn_registrar_usuario:active {
    width: 200px;
    border-radius: 10px;
    border: solid;
    border-color: rgb(226, 50, 97);
    border-width: 2px;
    background-color: rgb(121, 119, 119);
    margin: 15px;
    padding: 7px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin-top: 0.5cm;
    background-color: rgba(0, 0, 0, 0.336);
    height: 50px;
    border-color: black;
    border-top:solid;
    
}

#banner {
    background-image: url("banner.png");
    background-size: 100%;
    height: 10cm;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

* {
    max-width: 100%;
}


